.skills-section
	section.values
		.container.skills_container
			.values__wrapper
				.values__title
					.values__title-container
						.values__title-text Чем я могу быть полезен вам
						.values__content
							p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				.values__widget
					.values__widget-container
						- 
							var skillsCategories = [
								["Frontend", ["HTML5", "CSS3", "Javascript", "Vue.js"]],
								["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
							];

						ul.skills
							each category in skillsCategories
								li.skills__item(v-for="category in categories")
									.skills-row
										.skills-row__title #{category[0]}
										ul.skills-row__list
											each skill in category[1]
												li.skills-row__item
													.skill
														svg(viewBox="0 0 100 100").skill__circle-shape
															circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
															circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle_above
															linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
																stop(offset="0%" stop-color="#5500f2")
																stop(offset="100%" stop-color="#8f00ef")
														.skill__circle-text #{skill}
.my_works
	.container.my_works_container
		.section-title.works_title Мои работы
		.works_content
			.works-slider
				.works-slider__pics(data-slide="2")
					.works-slider__pics-content
						+image('content/slider-1.png', 'works-slider__fullpic')
						.works-slider__buttons
							a(href="#").works-slider__btn.prev
							a(href="#").works-slider__btn.next
						ul.works-slider__thumbs
							- for (var i = 3; i > 0; i--)
								li.works-slider__thumb-item(class=`${i === 1 ? 'active' : ''}`)
									a(href="").works-slider__thumb-link
										+image(`content/slider-${i}.png`, 'works-slider__thumb')
				.works-slider__data
					ul.works-slider__tags
						- var tags = ['HTML', 'CSS', 'JavaScript'];
						each item in tags
							li.works-slider__tag-item 
								.tag #{item}
					.works-slider__title Сайт школы образования
					.works-slider__desc
						p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
					.works-slider__link 
						a(href="").iconed-link Посмотреть сайт

//- .triangles.triangles_bottom
//- 	svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
//- 		polygon(points="0,0 1000,0 1000,100")
//- 	svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
//- 		polygon(points="0,0 0,100 1000,0")